<h1>New Book</h1>

<%=form_for @book do |f|%>
  <%=f.text_field :title, value: "Title" %>
  <%=f.text_field :author, value: "Author" %>
  <%=f.hidden_field :account_id, value: Account.first.id%>
  <%=f.submit "Create for Big Account"%>
<% end %>



<%=form_for @book do |f|%>
  <%=f.text_field :title, value: "Title" %>
  <%=f.text_field :author, value: "Author" %>
  <%=f.hidden_field :account_id, value: Account.last.id%>
  <%=f.submit "Create for Small Account"%>
<% end %>

